services:
  - type: web
    name: coremind-flowise
    env: docker
    dockerContext: .
    dockerfilePath: ./flowise_deployment/Dockerfile
    plan: free
    envVars:
      - key: PORT
        value: 3000
      - key: FLOWISE_USERNAME
        value: admin
      - key: FLOWISE_PASSWORD
        value: password123
      - key: NODE_OPTIONS
        value: --max-old-space-size=460
      - key: CORS_ORIGINS
        value: https://turyasin.github.io
      # Persistence Configuration (Supabase)
      - key: DATABASE_TYPE
        value: postgres
      - key: DATABASE_PORT
        value: 5432
      - key: DATABASE_HOST
        value: db.camyogwbseuxfrjxnjzw.supabase.co
      - key: DATABASE_NAME
        value: postgres
      - key: DATABASE_USER
        value: postgres
      - key: DATABASE_PASSWORD
        sync: false # Render Dashboard'dan girilecek
      - key: APIKEY_PATH
        value: /opt/flowise/.flowise
      - key: SECRET
        sync: false # Rastgele bir şifreleme anahtarı
