services:
  - type: web
    name: coremind-flowise
    env: docker
    dockerContext: .
    dockerfilePath: ./flowise_deployment/Dockerfile
    plan: free
    envVars:
      - key: PORT
        value: 3000
      - key: FLOWISE_USERNAME
        value: admin
      - key: FLOWISE_PASSWORD
        value: password123
      - key: NODE_OPTIONS
        value: --max-old-space-size=460
      - key: CORS_ORIGINS
        value: https://turyasin.github.io
