# fly.toml app configuration file generated for coremind-flowise
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = "coremind-flowise"
primary_region = "fra"

[build]

[env]
  PORT = "8080"
  FLOWISE_USERNAME = "admin"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256
